.bg-theme {
    background-color: #E4EDE3;
}

.bg-header {
    background-color: #000;
}

.bg-column {
    background-color: #f5f5f5;
}

.bg-grey {
    background-color: #CBCBCB;
}

.bg-green {
    background-color: #47A138;
}

.text-grey {
    color: #CBCBCB;
}

.text-green {
    color: #47A138;
}

.text-black {
    color: #000
}

.text-black:hover {
    color:  #789e71;
}

.text-active {
    font-weight: 500;
    color: #47A138;
}